.nav-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 25px 0 15px;

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    dds-textinput {
      width: 400px;

    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    gap: 20px
  }

  .logo-wrapper {
    img {
      height: 30px;

      &:nth-child(1) {
        margin-right: 6px;
      }
    }
    margin-right: 60px;
  }
}
