<div class="main-container">
  <app-nav></app-nav>
  <div class="content-container">
    <nav class="sidenav-container">
      <dds-sidenav
        #sideNav
        elementId="boxSidenav"
        ddsOptions='{"expand": false}'
        init="manual"
      >
        <ng-container *ngFor="let item of menuItems; index as i">
          <dds-sidenav-item
            tabindex="-1"
            [selected]="currentRoute === item.route.toLowerCase()"
            icon="dds__icon--{{ item.icon }}"
            [routerLink]="'/' + item.route.toLowerCase()"
            [hidden]="item.hidden"
          >
            {{ item.text }}
          </dds-sidenav-item>
        </ng-container>
        <!-- <dds-sidenav-menu
          *ngFor="let tag of menuTags; index as t"
          icon="dds__icon--{{ tags[tag] }}"
          name="{{ tag.toUpperCase() }}"
          open="false"
        >
          <ng-container *ngFor="let item of menuItems; index as i">
            <dds-sidenav-item
              tabindex="-1"
              *ngIf="item.tags.includes(tag)"
              [selected]="currentRoute === item.route.toLowerCase()"
              icon="dds__icon--{{ item.icon }}"
              [routerLink]="'/' + item.route.toLowerCase()"
              [hidden]="item.hidden"
            >
              {{ item.text }}
            </dds-sidenav-item>
          </ng-container>
        </dds-sidenav-menu> -->
      </dds-sidenav>
    </nav>
    <div class="screens-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <footer>footer</footer> -->
</div>
