.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative; /* ?? */
    overflow-y: auto;
    background-color: var(--background-grey);
    .sidenav-container {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .screens-container {
      // position: absolute;
      margin-left: 120px;
      flex-grow: 1;
      height: 100vh;
      width: 75vw;

      .breadcrumb-container {
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .screens-content {
        min-height: 70vh;
        background-color: var(--background-primary);
        border: 1px solid #e1e1e1;
        width: 100%;
        padding: 1rem;
      }
    }
  }

  footer {
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
  }
}
