<div class="main-container">
  <app-nav></app-nav>
  <div class="content-container">
    <nav class="sidenav-container">
      <dds-sidenav
        #sideNav
        elementId="boxSidenav"
        ddsOptions='{"expand": false}'
        init="manual"
      >
        <ng-container *ngFor="let item of menuItems; index as i">
          <dds-sidenav-item
            tabindex="-1"
            [selected]="currentRoute === item.route.toLowerCase()"
            icon="dds__icon--{{ item.icon }}"
            [routerLink]="'/' + item.route.toLowerCase()"
            [hidden]="item.hidden"
          >
            {{ item.text }}
          </dds-sidenav-item>
        </ng-container>
      </dds-sidenav>
    </nav>
    <div class="screens-container">
      <div class="breadcrumb-container">
        <dds-breadcrumb
          #breadcrumb
          icon="home"
          [data]="bcData"
        ></dds-breadcrumb>
      </div>
      <div class="screens-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- <footer>footer</footer> -->
</div>
