<div class="main-container">
  <app-nav></app-nav>
  <div class="content-container">
    <nav class="sidenav-container">
      <dds-sidenav
        [data]="menuItems"
        [currentRoute]="currentRoute"
      ></dds-sidenav>
    </nav>
    <div class="screens-container">
      <div class="breadcrumb-container">
        <dds-breadcrumb
          #breadcrumb
          icon="home"
          [data]="bcData"
        ></dds-breadcrumb>
      </div>
      <div class="screens-content">
        <router-outlet></router-outlet>

        <!-- textarea -->
        <dds-textarea [maxLength]="'10'">
          <div label-text>Label Example</div>
          <div helper-text>Helper Text Example</div>
        </dds-textarea>
        <!-- modal -->
        <dds-modal #modal>
          <div modal-title>Modal Headline</div>
          <div modal-body>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div button-title-primary>Cancel</div>
          <div button-title-secondary>Visualize</div>
        </dds-modal>
        <!-- button modal -->
        <button
          class="dds__button dds__button--secondary dds__button--md"
          (click)="this.modal.open()"
        >
          Open modal
        </button>
      </div>
    </div>
  </div>
  <!-- <footer>footer</footer> -->
</div>
