/* You can add global styles to this file, and also import other style files */

:root {
  --background-primary: #ffffff;
  --background-grey: #e1e1e1;
  --primary-grey: #6e6e6e;
  --overlay-grey-dark: rgba(14, 14, 14, 0.45);
  --primary-color-letters: #0e0e0e;
}
