/* You can add global styles to this file, and also import other style files */

:root {
  --background-primary: #ffffff;
  --background-secondary: #f5f6f7;

  --background-grey: #e1e1e1;
  --background-grey: #e1e1e1;

  --primary-black: #0e0e0e;
  --primary-grey: #6e6e6e;
  --primary-blue: #0672cb;
  --primary-blue-hover: #d9f5fd;

  --primary-border: #e1e1e1;
}
