/* You can add global styles to this file, and also import other style files */

:root {
  --background-primary: #ffffff;
  --background-grey: #e1e1e1;
  --primary-grey: #6e6e6e;

  --selected-background-color-0: #D9F5FD;
  --selected-color-0: #5CC1EE;

  --selected-background-color-1: #FFEED2;
  --selected-color-1: #F8A433;

  --selected-background-color-2: #FBEBFF;
  --selected-color-2: #DB9EFF;

  --selected-background-color-3: #E9F5CE;
  --selected-color-3: #9BC438;

  --selected-background-color-4: #FFECEE;
  --selected-color-4: #FF99A1;
}
